<div class="row">
  <div class="col-lg-12">
    <div class="time-line">
      <% if @plan %>
      <div class="plan-4-day">
        <h2>The Plan: <%= @plan.date %></h2> <p><%= @plan.content %> </p>
      </div>

      <div class="course-timeline">
        <div class="progress">
          <div class="progress-bar" style="width: <%= @percent %>%">
            <span class="day">Day: <%= @plan.day_number %></span>
          </div>
        </div>
      </div>
      <% else %>
        <h2>Catbread, mofo. Catbread</h2>
      <% end %>
    </div>
  </div>
</div>
<<<<<<< HEAD
<%= GithubFeed.get_feed.title %>
<%= GithubFeed.get_feed.url %>
  <!-- <div class="progress-bar progress-bar-warning" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% Complete (danger)</span>
  </div> -->

=======
>>>>>>> 526c5dd9e03659b153232852d993586605cc60c8
<div class="row table-top-padding">
  <div class="col-lg-12">
    <table class="table table-striped assignments-list">
      <thead>
      <tr>
        <th width="15">Rspec</th>
        <th width="165">Assignment</th>
        <th width="100">Progress</th>
        <th width="234"><!-- Issues --><span class="glyphicon glyphicon-comment"></span></th>
      </tr>
      </thead>
      <tbody>
      <% @student.assignments.each_with_index do |assignment,i| %>
      <tr>
        <td width="15">
          <% if assignment.spec_present %>
            <%= form_tag '/homeworks/rspec' do %>
              <input name="assignment_id" value="<%= assignment.id %>" type="hidden" />
              <input name="student_id" value="<%= @student.id %>" type="hidden" />
              <button type="submit" class="btn btn-info btn-small"><i class="icon-bar-chart"></i></button>
            <% end %>
          <% end %>
        </td>
        <td width="165"><h2><%= link_to assignment.name, assignment.web_url %></h2>
          <ul class="meta-info">
            <% unless assignment.tags.empty? %>
              <% assignment.tags.each do |tag| %>
                <li><span class="label label-default">
                  <span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title=""><%= tag.name %></a></span>
                </li>
              <% end %>
            <% end %>
<<<<<<< HEAD
          </td>
          <td width="165"><h2><%= link_to assignment.name, assignment.web_url %></h2>

            <ul class="meta-info">
              <li><a href="#" title=""><img class="gravatar" src="<%# @homework.gravatar_url %>" alt=""> Scott</a></li>
              <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ORM</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ActiveRecord</a></span>
            </li>
=======
>>>>>>> 526c5dd9e03659b153232852d993586605cc60c8
          </ul>
        </td>
        <td>
          <% hw = assignment.graded_homework_of(@student) %>
          <% if hw %>
            <%= render partial: "progress_bar", locals: {test_scores: hw.rspec_score} %>
          <% else %>
            <%= render partial: "fork_button", locals: {fork_assignment: assignment.fork_url} %>
          <% end %>
          <!--  <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 30%">
            <span>5 Passing</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width:<%#= @tests[i][:pending_percentage] %>">
            </div>
          <div class="progress-bar progress-bar-danger" style="width:<%#= @tests[i][:failing_percentage] %>">
          </div>
          <p>Passing:</p> -->
        </td>
        <td class="issues">
          <% @homework = Homework.where("assignment_id = ? AND student_id = ?", assignment.id, @student.id).first %>
          <p><%= @homework.current_issue %><a href="#" class="btn btn-default btn-xs" role="button">New Issue</a></p>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div> <!-- col-lg-12 -->
</div> <!-- row table-top-padding -->
