<!DOCTYPE html>
<html>
<head>
  <title>Welcome to GitDown</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Flatiron School - Ruby 003</a>
        </div><!--/.navbar-header -->
        <div class="navbar-collapse collapse">
       <!--  <form class="navbar-form">
            <div class="form-group">
              <input type="search" placeholder="Search tags, issues..." class="form-control">
            </div>
          </form> -->
          <!-- <ul class="nav navbar-nav nav-btn-group">
          <li>
          <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info">All</button>
        <button type="button" class="btn btn-default">Not Started</button>
        <button type="button" class="btn btn-default">In Progress</button>
        <button type="button" class="btn btn-default">Done</button>
      </div>
      </li>
      <li><form class="navbar-form" role="form">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search...">
          </div>
        </form></li>
      </ul> -->
          <ul class="nav navbar-nav navbar-right">
         <!--  <li> <input type="search" placeholder="Search tags, issues..." class="form-control"></li>
          <li class="divider"></li> -->
            <li class="dropdown user-info">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img class="gravatar" src="<%= current_user.gravatar_url %>" alt="<%= current_user.login %> gravatar"> <%= current_user.login %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Sign Out", signout_path %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  </header>

  <div class="container container-top-padding">
    <%= yield %>
  <!--   <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer> -->
  </div> <!-- /container -->
</body>
</html>
